[submodule "emulator"]
	path = emulator
	url = https://github.com/zippiehq/machine-emulator.git
 	branch = zippie

[submodule "rom"]
	path = rom
	url = http://github.com/zippiehq/machine-emulator-rom.git
        branch = zippie

[submodule "tests"]
	path = tests
	url = https://github.com/zippiehq/machine-tests.git
[submodule "fs"]
	path = fs
	url = https://github.com/zippiehq/image-rootfs.git
        branch = zippie

[submodule "kernel"]
	path = kernel
	url = https://github.com/zippiehq/image-kernel.git
        branch = zippie

[submodule "toolchain"]
	path = toolchain
	url = https://github.com/zippiehq/image-toolchain.git
